<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Sophie with Arria Test" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Sophie with Arria Test" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Comment out the next line once we can load uneeq-js via yarn and webpacker -->
    <script src="//unpkg.com/uneeq-js/dist/umd"></script>
    <%= javascript_pack_tag "conversations" %>
    <%= csrf_meta_tags %>
  </head>
  <body style="margin:0">
       <%= yield %>
  </body>
</html>
